{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/account.css' %}">
    <title>Login</title>
</head>
<body>
<div>
    <div class="card">
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input id="username" type="text" name="user"></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input id="password" type="password" name="password"></td>
                </tr>
                <tr>
                    <td colspan="2" id="messages">{{ message }}</td>
                </tr>
            </table>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>