{% extends 'cms_base.html' %}

{% block content %}
    <div class="card">
        <form method="post">
            {% csrf_token %}
            {{ role_form }}
            <button type="submit" class="button">Add</button>
        </form>
    </div>
{% endblock %}