{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
<nav>
    <a href="{% url 'cms' %}">
        <div>Home</div>
    </a>
    {% if user.role.can_edit_sections or user.is_staff %}
        <a href="{% url 'sections' %}">
            <div>Sections</div>
        </a>
    {% endif %}
    {% if user.role.can_edit_staff_list or user.is_staff %}
        <a href="{% url 'users' %}">
            <div>Staff</div>
        </a>
    {% endif %}
    <a href="{% url 'home' %}">
        <div>To website</div>
    </a>
    <a href="{% url 'logout' %}">
        <div>Logout {{ user }}</div>
    </a>
</nav>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'cms/css/base_cms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cms/css/form.css' %}">
    <title>Title</title>
</head>
</html>