{% extends 'cms_base.html' %}

{% block content %}
    <div class="card">
        <form method="post">
            {% csrf_token %}
            {{ user_form }}
            <input type="submit" class="button" name="action" value="Save">
            <input type="submit" class="button" name="action" value="Delete">
        </form>
    </div>
{% endblock %}