{% extends 'cms_base.html' %}

{% block content %}
    {% for section in sections %}
        <div class="card">
            <table>
                <th colspan="2">{{ section.instance.name }}</th>
                {% for article in section.articles %}
                    <tr>
                        <td><a href="{% url 'edit_article' article.pk %}">{{ article.title | truncatechars:50 }}</a>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="muted">No articles found for this section.</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="button_container">
                        {% if section.count > 5 %}<a href="{% url 'section' section.instance.pk %}">
                            <div class="button">Show all articles</div>
                        </a>{% endif %}
                        <a href="{% url 'add_article' section.instance.pk %}">
                            <div class="button">Add a new article</div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock %}