{% extends 'cms_base.html' %}

{% block content %}
    <div class="card">
        <h1>Sections</h1>
        <form method="post">
            {% csrf_token %}
            <table>
                {% for section in sections %}
                    <tr>
                        <td>
                            <input type="checkbox" id="section_{{ section.pk }}" name="section"
                                   value="{{ section.pk }}">
                        </td>
                        <td>
                            <label for="section_{{ section.pk }}">{{ section.name }}</label>
                        </td>
                        <td><a href="{% url 'section' section.pk %}">Edit</a></td>
                    </tr>
                {% empty %}
                    No sections found.
                {% endfor %}
                <tr>
                    <td><input type="color" name="hex_color"></td>
                    <td><input type="text" name="new_name"></td>
                    <td>
                        <button type="submit" class="button" name="action" value="add">Add new</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="button_container">
                            <button type="submit" class="button" name="action" value="delete">Delete checked</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}