{% extends 'cms_base.html' %}

{% block content %}
    <div class="card">
        <table>
            {% if user.role.can_edit_sections %}
                <tr>
                    <td></td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input type="color" name="colour" value="#{{ section.hex_color }}">
                            <input type="text" name="name" value="{{ section.name }}">
                            <button type="submit">Apply</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th colspan="2">{{ section.name }}</th>
            </tr>
            {% for article in articles %}
                <tr>
                    <td>{{ article.creation_time }}</td>
                    <td><a href="{% url 'edit_article' article.pk %}">{{ article.title }}</a></td>
                </tr>
            {% empty %}
                No articles found for this section.
            {% endfor %}
        </table>
    </div>
{% endblock %}