{% extends 'cms_base.html' %}

{% block content %}
    <div class="card">
        <table>
            <tr>
                <th colspan="2">Staff</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{% url 'edit_user' user.pk %}">
                            {{ user.username }}
                            {% if user.first_name and user.last_name %}
                                ({{ user.first_name }} {{ user.last_name }})
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>No staff found.</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2"><a href="{% url 'add_user' %}">
                    <div class="button">Create new staff member</div>
                </a></td>
            </tr>
        </table>
    </div>

    <div class="card">
        <table>
            <tr>
                <th colspan="6">Roles</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Staff</th>
                <th>Sections</th>
                <th>Comments</th>
                <th colspan="2"></th>
            </tr>
            {% for role in roles %}
                <tr>
                    <td>{{ role.name }}</td>
                    <form method="post">
                        {% csrf_token %}
                        <td><input type="checkbox" name="staff" {% if role.can_edit_staff_list %}checked{% endif %}>
                        </td>
                        <td><input type="checkbox" name="sections" {% if role.can_edit_sections %}checked{% endif %}>
                        </td>
                        <td><input type="checkbox" name="comments" {% if role.can_del_comments %}checked{% endif %}>
                        </td>
                        <td>
                            <input type="hidden" name="role_id" value="{{ role.pk }}">
                            <input type="submit" class="button" name="action" value="Save">
                        </td>
                    </form>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="role_id" value="{{ role.pk }}">
                            <input type="submit" class="button" name="action" value="Delete">
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No roles found.</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="6"><span id="messages">{{ error_msg }}</span></td>
            </tr>
            <tr>
                <td colspan="6"><a href="{% url 'add_role' %}">
                    <div class="button">Create new role</div>
                </a></td>
            </tr>
        </table>
    </div>
{% endblock %}