body {
    background-color: #F0F0FF;
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: darkslategrey;
}

a:hover {
    color: darksalmon;
}

#tiny_bar {
    font-size: x-small;
    background-color: white;
    border-bottom: 1px solid black;
    text-align: right;
    padding: .2em;
}

.card {
    background-color: white;
    box-shadow: #bababa 0 10px 10px;
    margin: 2em;
    padding: 1.5em;
}

#container {
    display: flex;
    margin: auto;
    min-width: 30em;
    max-width: 70em;
}

#categories {
    min-width: 10em;
}

.section_list_item {
    white-space: nowrap;
}

td {
    padding: .2em .8em;
}
