{% for section in sections %}
    <p class="section_list_item" style="color: #{{ section.hex_color }}">
        ■ <a href="#" class="section_link" data-section_id="{{ section.pk }}">{{ section.name }}</a>
    </p>
{% endfor %}