body {
    margin: 0;
    background-color: #EEEEEE;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: darkslateblue;
}

a:hover {
    color: purple;
}

nav, .button_container {
    display: flex;
    justify-content: space-evenly;
}

.button_container {
    margin-top: 1em;
}

nav {
    background-color: white;
    border-bottom: 2px solid black;
}

nav div {
    padding: 1em;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background-color: white;
    border: 1px solid grey;
    margin: 1em;
    padding: 1em;
    min-width: 30em;

}

.button {
    font-size: small;
    background-color: #F0F0F0;
    text-align: center;
    border: 1px solid grey;
    padding: .3em;
}

table {
    width:100%;
}

th {
    background-color: black;
    color: white;
    font-weight: bold
}

td {
    padding: .2em .8em;
}

.muted {
    color: darkgrey;
}
