{% load static %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/css.css' %}">
    <title>Alteza News</title>
    <script type="text/javascript" src="{% static 'libs/ajaxCall.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jscookie/js.cookie.min.js' %}"></script>
</head>
<body>
<div id="tiny_bar">
    {% if user.is_authenticated %}
        <a href="{% url 'cms' %}">CMS</a>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
<div id="container">
    <div id="categories" class="card">
        {% section_list %}
    </div>
    <div id="sectionContainer" class="card">
        {% block content %}{% endblock %}
    </div>
</div>
<script type="text/javascript" src="{% static 'news/js/base_news.js' %}"></script>
</body>
</html>