{% extends 'base_news.html' %}
{% load static %}

{% block content %}
    <script>
        let ajax_page = "{% url 'news_section' %}";
        let csrf_token = "{{ csrf_token }}";
    </script>
    <script type="text/javascript" src="{% static 'news/js/index_news.js' %}"></script>
{% endblock %}