{% extends 'base_news.html' %}

{% block content %}
    <h3 style="border-left: 5px solid #{{ article.section.hex_color }}; padding-left:1em">{{ article.title }}</h3>
    <h5>{{ article.creation_time }}</h5>
    <div>{{ article.body | linebreaks }}</div>

    <p></p>
    <h4>Comments</h4>
    {% for comment in comments %}
        <div class="card"
                {% if allow_dels and comment.is_hidden %}
             style="opacity:.4"
                {% endif %}>
            {{ comment.content }}
            {% if allow_dels %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.pk }}">
                    {% if not comment.is_hidden %}
                        <p><input type="submit" class="button" name="action" value="Delete"></p>
                    {% endif %}
                </form>
            {% endif %}
        </div>
    {% empty %}
        <p>No comments posted.</p>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <textarea name="new_comment" cols="50"></textarea>
        <p><input type="submit" class="button" name="action" value="Post"></p>
    </form>
{% endblock %}