<table>
    {% for article in articles %}
        <tr>
            <td><span style="color: #{{ article.section.hex_color }}">■</span></td>
            <td>{{ article.creation_time }}</td>
            <td><a href="{% url 'news_article' article.pk %}">{{ article.title }}</a></td>
        </tr>
    {% endfor %}
</table>

<script>
    let ajax_page = "{% url 'news_section' %}";
    let csrf_token = "{{ csrf_token }}";
</script>
