body {
    font-family: sans-serif;
}

body>div {
    display: flex;
}

#messages {
    color: red;
    font-size: small;
    font-weight: bold;
    margin: .2em;
}

.card {
    margin: auto;
    border: 1px solid grey;
    padding: 2em;
}